<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="home.css">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <title>Content-Hosting</title>
</head>
<body>
    <div class="particles-js"></div>
    <div>
        <nav>
            <ul class=" flex-col py-48 space-y-28 px-3">
                <img src="../images/10.png" width="50" class="cursor-pointer">
                <img src="../images/11.png" width="50" class="cursor-pointer">
                <img src="../images/12.png" width="50" class="cursor-pointer">
            </ul>
    <div class="uploadimg">

    </div>
    </nav>
    </div>
    <div class=""></div>
</body>
</html>

